@import "fontsncolors.scss";
html {
	width:100%;
}
body {
font-family: "SansSourcePro";
color:#506a85;
}

h2 {
font-family:"lato bold";
font-size:2.75rem;
}
h3  {
font-family:"lato bold";
font-size:1.625rem;
}
header{
width:100vw;
background-color:$bgrenheadertop;
color:$mainblue;
}
#toprow {
display:flex;
flex-direction:right;
flex-wrap:nowrap;
justify-content:space-between;
}
#contact {
justify-content:left;
}
#social {
justify-content:right;
}
.topnav {
display:flex;
flex-direction:right;
justify-content:left;
background-color: white;
}
ul{
display:flex;
decoration:none;
margin-left:15px;
margin-right:15px;
color:$mainblue;
padding:10px;
}
li{
padding: 10px;
align-self:center;
}
.background {
display:flex;
width:100%;
background-image: url("../img/carosel.png");
background-repeat:no-repeat;
margin-top:auto;
justify-content:center;
}
.carosel {
text-align:center;
margin:10em 0 10em 0;
color:#a3b1bf;
font-size:1.5em;
	h1 {font-family:"lato black";
		font-size: 4.875em;
		color:#FFF;
	}
}
main {
margin-left:20%;
margin-right:20%;
font:#73879c;
}
.leadin {
	float:center;
	text-align:center;
	padding:5px;
	clear:both;
	margin-right:15%;
	margin-left:15%;
	font-size:1.375em;

}
.flexin {
	font:1em;
	text-align:left;
	display:flex;
	flex-direction:row;
	min-height:50%;
	padding:5px;
		span{
			padding:5px;
		}
			img {
				padding:5px;
				float:left;
				margin-bottom: 100%

			}
	}

